.Rproj.user
.Rhistory
.RData
.Ruserdata
Tabela 6579.xlsx
casos_uf_bk.csv
casos_uf_fiocruz.csv
detalhe_uf.csv
global_original.R
infogripe_scrap.R
infogripe_scrap.Rout
infogripe_scrap.R
Dados_InfoGripe_serie_temporal_com_estimativas_recentes.csv
Dados_InfoGripe_serie_temporal_com_estimativas_recentes_bk

